*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
$onerem : 1rem;
$white : white;
:root {
    --blue : #2e6294;
}
@font-face {
    font-family: "myFirstFont";
    src: url("./Font/Montserrat-Thin.ttf");
  }
body {
    background-image: url("./images/space-big-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "myFirstFont";
}
.container{
    display: flex;
    flex-direction: column;
    padding: $onerem*1.5;
    >header {
        display: block;
        font-size: $onerem + 0.5;
        font-weight: bold;
        letter-spacing: .1rem;
        text-align: center;
        padding:$onerem/2;
    }
    .input-group{
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 10px;
        input[type=search]{
            background-color: var(--blue);
            display: block;
            width: 100%;
            color: $white;
            padding-left: 40px;
            height: 40px;
            border: none;
            border-radius: 3px;
            // box-shadow: inset 0 -3px 10px 1px lighten($color: #10314f, $amount: 40) ;
            &::placeholder{
                text-align: center;
                font-weight:400;
                letter-spacing: .1rem;
                color: $white;
                font-size: $onerem;
                opacity: 0.7;
            }
            &:focus {
                border: 2px solid lightgreen;
                outline: none;
            }
            &:focus ~ #searchIcon {
                opacity: 0.6;
            }
        }
        // these are styles for the search icon svg
        #searchIcon {
            width: 30px;
            position: absolute;
            top: 0;
            margin: $onerem/2 ;
            transition: opacity 1s;
        }
        .cls-1{
            fill:none;
            stroke:$white;
            stroke-miterlimit:10;
            stroke-width:15px;
        }.cls-2{
            fill:$white;
        }
        
    }
}

.content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: $onerem*2;
    .location_time_image_group{
        flex-basis: 50%;
        header {
            font-size: $onerem * 2;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: $onerem;
        }
        img { 
            max-width: 400px;
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .location_space{
        flex-basis: 10%;
    }
    .location_conditions {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        .weather_condition{
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            align-items: center;
            margin: $onerem 0;
            background-color: var(--blue);
            padding-right: 20px;
            img {
               width: $onerem*3.4;
            }
            svg{
                height: $onerem*3.4;
                /* this padding is because the img weather condition icon has background padding of its own*/
                padding: 10px 0;
                padding-left: $onerem/1.4;
            }
        }
    }
}
.covid-19_awareness{
    font-size: .8rem;
    background-color: rgb(53, 161, 53);
    padding: 0 $onerem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    img {
        height: $onerem * 2;
        /* this part is irrelevant,just added so that the image will align with the text, it has extra bg at the top which is pulling it off */
        position: relative;
        top: -3px;
    }
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    .branding {
        text-align: center;
        font-size: $onerem*1.4;
        font-weight: bold;
        letter-spacing: .06rem;
        background: var(--blue);
    }
    .incase{
        color: darken($color: $white, $amount: 20);
        background: var(--blue);
        padding: $onerem;
        padding-top: 0;
        font-size: $onerem*0.8;
    }

}

// Media Queries

@media screen and (max-width: 800px){
    body {
        background-image: url("./images/space-sm-rotated.png");
    }
    .container{
        padding: 0;
    }

.content{
    
    flex-wrap: wrap;
    .location_space{
        flex-basis: 100%;
    }

    .location_time_image_group{
        flex-basis: 100%;
        header {
            font-size: $onerem * 1.5;
        }
        img{
            max-width: 350px;
        }
     }
    .location_conditions {
        margin-top: $onerem;
        flex-basis: 100%;
        .weather_condition{
            margin: $onerem auto;
            width: 100%;
        }
    }
}
footer{
    position: static;
 }
}